<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <!-- <h2>Ejs wala page successfully rendered!</h2> -->

    <form 
        action="/get-form-data"
        method="post"
    >
        <input 
            type="text"
            placeholder="Enter username"
            name="username"
        >

        <input 
            type="text"
            placeholder="Enter your email"
            name="email"
        >

        <input 
            type="text"
            placeholder="Enter password"
            name="password"
        >

        <button>Submit form</button>
    
    </form>

    <script src="/assets/index.js"></script> 
    <!--  src="/public/assets/index.js" public nahi likhoge, remember!-->

</body>
</html>